{% extends 'base.html' %}

{% block title %} {{categoria.nombre}} {% endblock %}

{% load static %}

{% block content %}

<body>
    <div class="container py-5">
      <h1 class="mb-4 text-center">{{ categoria.nombre }}</h1>
  
      {% if productos %}
        <div class="row g-4">
          {% for producto in productos %}
            <div class="col-md-4">
              <div class="card h-100 shadow">
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}" style="height: 250px; object-fit: cover;">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ producto.nombre }}</h5>
                  <p class="card-text">${{ producto.precio }}</p>
                  <p class="card-text small">{{ producto.descripcion|truncatechars:100 }}</p>
                  <a href=" {% url 'producto_detalle' producto.id %} " class="btn btn-primary">Ver más</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-center">No hay productos en esta categoría.</p>
      {% endif %}
    </div>
  </body>

{% endblock content %}